In [2]:
import pandas as pd
df = pd.read_excel('July_month_attendance.xlsx')

In [3]:
df.columns

Index(['Code', 'Name', 'Date', 'First In Time', 'Exit-1', 'Punch In-1',
       'DurationOut-1', 'Exit-2', 'Punch In-2', 'DurationOut-2', 'Exit-3',
       'Punch In-3', 'DurationOut-3', 'Exit-4', 'Punch In-4', 'DurationOut-4',
       'Exit-5', 'Punch In-5', 'DurationOut-5', 'Exit-6', 'Punch In-6',
       'DurationOut-6', 'Exit-7', 'Punch In-7', 'DurationOut-7', 'Exit-8',
       'Punch In-8', 'DurationOut-8', 'Exit-9', 'Punch In-9', 'DurationOut-9',
       'Exit-10', 'Punch In-10', 'DurationOut-10', 'Exit-11', 'Punch In-11',
       'DurationOut-11', 'Exit-12', 'Punch In-12', 'DurationOut-12', 'Exit-13',
       'Punch In-13', 'DurationOut13', 'Exit-14', 'Punch In-14',
       'DurationOut-14', 'Exit-15', 'Punch In-15', 'DurationOut-15', 'Exit-16',
       'Punch In-16', 'DurationOut-16', 'Exit-17', 'Punch In-17',
       'DurationOut-17', 'Exit-18', 'Punch In-18', 'DurationOut-18', 'Exit-19',
       'Punch In-19', 'DurationOut-19', 'Exit-20', 'Punch In-20',
       'DurationOut-20', 'Exit-21', 'Punch In-21', 'DurationOut-21', 'Exit-22',
       'Punch In-22', 'DurationOut-22', 'Exit-23', 'Punch In-23',
       'DurationOut-23', 'Exit-24', 'Punch In-24', 'DurationOut-24', 'Exit-25',
       'Punch In-25', 'DurationOut-25', 'Exit-26', 'Punch In-26',
       'DurationOut-26', 'Exit-27', 'Punch In-27', 'DurationOut-27', 'Exit-28',
       'Punch In-28', 'DurationOut-28', 'Exit-29', 'Punch In-29',
       'DurationOut29', 'Exit-30', 'Punch In-30', 'DurationOut30',
       'Last Out Time', 'Total Punch In', 'Total Punch Out', 'Total Out Time',
       'Total In Time', 'Total Duration'],
      dtype='object')

In [4]:
duration_df = df[['Code', 'Name', 'Date', 'First In Time','Last Out Time', 'Total Out Time', 'Total In Time', 'Total Duration'] +\
                  df.columns[df.columns.str.startswith("DurationOut")].tolist()]
print(duration_df.columns)
grouped_df = duration_df.groupby(df['Code'])

Index(['Code', 'Name', 'Date', 'First In Time', 'Last Out Time',
       'Total Out Time', 'Total In Time', 'Total Duration', 'DurationOut-1',
       'DurationOut-2', 'DurationOut-3', 'DurationOut-4', 'DurationOut-5',
       'DurationOut-6', 'DurationOut-7', 'DurationOut-8', 'DurationOut-9',
       'DurationOut-10', 'DurationOut-11', 'DurationOut-12', 'DurationOut13',
       'DurationOut-14', 'DurationOut-15', 'DurationOut-16', 'DurationOut-17',
       'DurationOut-18', 'DurationOut-19', 'DurationOut-20', 'DurationOut-21',
       'DurationOut-22', 'DurationOut-23', 'DurationOut-24', 'DurationOut-25',
       'DurationOut-26', 'DurationOut-27', 'DurationOut-28', 'DurationOut29',
       'DurationOut30'],
      dtype='object')

In [9]:
pd.to_timedelta(duration_df.iloc[0]+":00").dt.total_seconds().sum() / 3600

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'str'

In [5]:
duration_df

,Code,Name,Date,First In Time,Last Out Time,Total Out Time,Total In Time,Total Duration,DurationOut-1,DurationOut-2,...,DurationOut-21,DurationOut-22,DurationOut-23,DurationOut-24,DurationOut-25,DurationOut-26,DurationOut-27,DurationOut-28,DurationOut29,DurationOut30
0,U0001,Krishnan K M,01/07/2023,10:05:00,20:19:00,07:50:00,02:24:00,10:14,07:50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,U0001,Krishnan K M,02/07/2023,00:00:00,00:00:00,00:00:00,00:00:00,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,U0001,Krishnan K M,03/07/2023,10:00:00,18:36:00,02:00:00,06:36:00,08:36,00:27,01:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U0001,Krishnan K M,04/07/2023,09:42:00,21:18:00,05:05:00,06:31:00,11:36,05:04,00:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U0001,Krishnan K M,05/07/2023,09:16:00,19:56:00,04:55:00,05:45:00,10:40,00:01,00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16910,UT335,Madhura K L,18/07/2023,08:48:00,18:49:00,00:35:00,09:26:00,10:01,00:34,00:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16911,UT335,Madhura K L,19/07/2023,08:57:00,18:55:00,00:21:00,09:37:00,09:58,00:21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16912,UT335,Madhura K L,20/07/2023,08:51:00,18:39:00,00:00:00,09:48:00,09:48,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16913,UT335,Madhura K L,21/07/2023,08:48:00,18:39:00,00:26:00,09:25:00,09:51,00:26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16914,UT335,Madhura K L,21/07/2023,08:48:00,00:00:00,00:00:00,00:00:00,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2 = duration_df.fillna("00:00")
unique_code = df2['Code'].unique()
for code in unique_code:
    df_filtered = df2[df2["Code"]==code]
    #df[filter] = pd.to_timedelta(df[filter] + ':00')
    #df_timedeltas = duration_df.apply(lambda col: pd.to_timedelta(col))
    column_filter = df_filtered[df_filtered.columns[df_filtered.columns.str.startswith('DurationOut')]]
    for x in range(len(df_filtered)):
        df_filtered.iloc[x]
        total_duration = pd.to_timedelta(column_filter.iloc[x]+":00").dt.total_seconds().sum() / 3600
        total_intime = pd.to_timedelta(df['Total Duration'].astype(str)).diff(-1).dt.total_seconds().div(60)
        data = {'Total_DurationOut': [total_duration],
               'Total_In_Time' : [total_intime]}
        df = pd.DataFrame(data)
        # Format the 'Total_Duration_Hours' column
        df['Total_DurationOut'] = df['Total_DurationOut'].apply(lambda x: '{:02}:{:02}:{:02}'.format(int(x), int((x * 60) % 60), int((x * 3600) % 60)))
        print(df)
    break

ValueError: expected hh:mm:ss format

In [56]:
df_filtered = duration_df.fillna("00:00")
unique_code = df_filtered['Code'].unique()
# for code in unique_code:
#     df_filtered = df2[df2["Code"]==code]
    #df[filter] = pd.to_timedelta(df[filter] + ':00')
    #df_timedeltas = duration_df.apply(lambda col: pd.to_timedelta(col))
column_filter = df_filtered[df_filtered.columns[df_filtered.columns.str.startswith('DurationOut')]]
column_filter2 = df_filtered['Total Duration']
for x in range(len(df_filtered)):
    #df_filtered.iloc[x]
    total_outduration = pd.to_timedelta(column_filter.iloc[x] + ":00").dt.total_seconds().sum() / 3600
    total_duration = pd.to_timedelta(column_filter2.iloc[x] + ":00").total_seconds()

    time_difference = pd.to_timedelta(total_duration, unit='s') - pd.to_timedelta(total_outduration, unit='s')

    #print(f'Time difference: {time_difference}')
    hours, remainder = divmod(time_difference_seconds.seconds, 3600)
    minutes = remainder // 60

    time_difference_str = f'{int(hours):02}:{int(minutes):02}'

    #print(total_duration)
    #print(total_outduration)
    #print(time_difference)
    data = {'Total_DurationOut': [total_outduration],
           'Total_In_Duration': [time_difference_str]}
    new_data = pd.DataFrame(data)
    # Format the 'Total_Duration_Hours' column
    new_data['Total_DurationOut'] = new_data['Total_DurationOut'].apply(lambda x: '{:02}:{:02}:{:02}'.format(int(x), int((x * 60) % 60), int((x * 3600) % 60)))
    new_data['Total_In_Duration'] = new_data['Total_In_Duration']
    
    print(new_data)
    #print(column_filter)Total_In_Duration
    #result_df.to_excel('output14.xlsx', index=False)
    break

  Total_DurationOut Total_In_Duration
0          07:50:00             02:24

In [40]:
df_filtered = duration_df.fillna("00:00")
unique_code = df2['Code'].unique()
column_filter = df_filtered[df_filtered.columns[df_filtered.columns.str.startswith('DurationOut')]]
column_filter2 = df_filtered['Total Duration']

total_outduration = []
time_difference_list = []  
#duration_percent = []
for x in range(len(df_filtered)):
    total_outduration.append(pd.to_timedelta(column_filter.iloc[x]+":00").dt.total_seconds().sum() / 3600)
    total_duration = pd.to_timedelta(column_filter2.iloc[x]+":00").total_seconds()

    time_difference = pd.to_timedelta(total_duration, unit='s') - pd.to_timedelta(total_outduration, unit='s')
    time_difference_list.append(time_difference)  
    
df_filtered["Total_Out_Duration"] = total_outduration
df_filtered["Total_Out_Duration"] = df_filtered["Total_Out_Duration"].apply(lambda x: '{:02}:{:02}:{:02}'.format(int(x), int((x * 60) % 60), int((x * 3600) % 60)))

df_filtered['Total_In_Duration'] = time_difference_list
df_filtered["Total_In_Duration"].apply(lambda x: '{:02}:{:02}:{:02}'.format(int(x), int((x * 60) % 60), int((x * 3600) % 60)))

#df_filtered["Out_Percentage"] = duration_percent

selected_columns = ['Code', 'Name', 'Date', 'First In Time', 'Last Out Time', 'Total_In_Duration', 'Total_Out_Duration']

result_pd = df_filtered[selected_columns]

#df_filtered.to_excel("result.xlsx")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
result_pd.head()

In [50]:
df_filtered = duration_df.fillna("00:00")
unique_code = df2['Code'].unique()
column_filter = df_filtered[df_filtered.columns[df_filtered.columns.str.startswith('DurationOut')]]
column_filter2 = df_filtered['Total Duration']

total_outduration = []
#duration_percent = []
for x in range(len(df_filtered)):
    total_outduration.append(pd.to_timedelta(column_filter.iloc[x]+":00").dt.total_seconds().sum() / 3600)
    total_duration = pd.to_timedelta(column_filter2.iloc[x]+":00").total_seconds()
    
    time_difference = pd.to_timedelta(total_duration) - pd.to_timedelta(total_outduration)
    #duration_percent = [(x / total_duration_sum) * 100 for x in total_duration]
    
    
df_filtered["Total_Out_Duration"] = total_outduration
df_filtered["Total_Out_Duration"] = df_filtered["Total_Out_Duration"].apply(lambda x: '{:02}:{:02}:{:02}'.format(int(x), int((x * 60) % 60), int((x * 3600) % 60)))

df_filtered["Total_In_Duration"] = time_difference

#df_filtered["Out_Percentage"] = duration_percent

selected_columns = ['Code', 'Name', 'Date', 'First In Time', 'Last Out Time',  'Total Duration', 'Total_In_Duration', 'Total_Out_Duration']

result_pd = df_filtered[selected_columns]

#df_filtered.to_excel("result.xlsx")

ValueError: expected hh:mm:ss format

In [ ]:
re